/* .moji {
    color: white;
} */


/* .header {
    width: 1920px;
    height: 251px;
    background: #000000;
    opacity: 1;
    border-radius: 0px;
} */
/* .logo {
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    height: 60px;
    width: 420px;
    display: inline-block;
    vertical-align: middle;
} */
/* 
.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
} */
/* .nav {
    display: inline-block;
    float: right;
    
}
.nav ul {
    padding: 0 1 0 1;
}

.nav li {
    display: inline-block;
    list-style: none;    
}
.nav li button {
    width: 112px;
    height: 26.5px;
    font-size: 30px;
    font-family: Haffer XH TRIAL;
    font-weight: 300;
    line-height: 0px;
    color: #FFFFFF;
    opacity: 1;    
}
.nav li :hover {
    border-bottom: 2px solid #484848;
} */